@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-oxanium: "Oxanium", sans-serif;
};

@layer base {
  body {
    @apply 
      bg-white 
      text-black 
      font-sans;
  }

  .dark body {
    @apply 
      bg-black 
      text-white;
  }
};

@layer utilities {

  .section-container {
    @apply mx-auto w-full 
      max-w-[320px] h-[778px] p-[20px] 
      sm:max-w-[640px] sm:h-[787px] sm:p-[30px]
      md:max-w-[768px] md:h-[768px]
      lg:max-w-[1024px] lg:h-[768px] lg:p-[40px]
      xl:max-w-[1280px] xl:h-[746px] xl:p-[50px]
      2xl:max-w-[1536px] 2xl:h-[859px] 2xl:p-[60px];
  }

  .section-spacing {
    @apply mt-[20px] 
      sm:mt-[30px] 
      md:mt-[40px] 
      lg:mt-[50px] 
      xl:mt-[60px];
  }

  .first-section-spacing {
  @apply mt-[80px] 
      sm:mt-[90px] 
      md:mt-[100px] 
      lg:mt-[110px] 
      xl:mt-[120px];
  }

}

