@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-oxanium: "Oxanium", sans-serif;
};

@layer base {
  body {
    @apply 
      bg-black 
      text-white 
      font-sans;
  }
};

@layer utilities {

  .header-container {
    @apply flex justify-between items-center mx-auto h-15 
      max-w-[320px] px-[20px]  
      sm:max-w-[640px] sm:px-[20px] 
      md:max-w-[768px] 
      lg:max-w-[1024px]
      xl:max-w-[1280px] xl:px-[60px] 
      2xl:max-w-[1536px] 2xl:px-[100px] 
  }

  .section-container {
    @apply mx-auto w-full 
      max-w-[320px] h-[778px] px-[20px] pt-[30px] pb-[40px] 
      sm:max-w-[640px] sm:h-[787px] sm:px-[20px] sm:pt-[80px] sm:pb-[40px]
      md:max-w-[768px] md:h-[768px]
      lg:max-w-[1024px] lg:h-[768px]
      xl:max-w-[1280px] xl:h-[746px] xl:px-[60px] xl:pt-[83px] xl:pb-[50px]
      2xl:max-w-[1536px] 2xl:h-[859px] 2xl:px-[100px] 2xl:pt-[170px] 2xl:pb-[40px];
  }

  .section-spacing {
    @apply my-[60px] 
      sm:my-[80px] 
      lg:my-[120px] 
      xl:my-[160px];
  }
}